@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.glow {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  box-shadow: 0 0 200px 130px #c026d3; /* outer cyan */
}

.navbar {
  /* py-10 flex justify-between items-center */
  padding: 2.5rem 0 2.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-name {
  font-size: 1.5rem;
  line-height: 2rem;
}

.abstract-size {
  width: 8rem;
  height: 8rem;
}

.abstract-size-parent {
  width: 18rem;
  height: 18rem;
}

.available-button {
  padding: 0.75rem;
  font-weight: 600;
}

.padding-skills {
  padding: 1rem;
  width: 100%;
}

.skills-container {
  padding: 0 2rem 0 2rem;
}

.project-container {
  padding: 5rem;
  padding-top: 2.5rem;
}

.project-border {
  padding: 0.75rem;
}

.contact-me {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.contact-me-border {
  width: 10rem;
  height: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .glow {
    width: 0px;
    height: 0px;
    border-radius: 50%;
    box-shadow: 0 0 200px 130px #6f8487a6; /* outer cyan */
  }
  .navbar {
    padding: 1.5rem 0 4.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title-name {
    font-size: 1.2rem;
    line-height: 1rem;
  }
  .abstract-size {
    height: 5.5rem;
  }
  .abstract-size-parent {
    width: 12rem;
    height: 12rem;
    margin-bottom: 2rem;
  }
  .available-button {
    display: none;
    padding: 0.75rem;
    font-weight: 600;
  }
  .padding-skills {
    padding: 1rem;
    padding-top: 0.3rem;
    width: 100%;
  }
  .skills-container {
    /* padding: 0 2rem 0 2rem ; */
    padding: 0;
  }
  .project-container {
    padding: 0.2rem;
    padding-top: 2rem;
  }
  .project-border {
    padding: 0.25rem;
  }

  .contact-me {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  .contact-me-border {
    width: 8rem;
    height: 0.5rem;
  }
}
